<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Latest Photos

    <a data-toggle="collapse" href="#user_latest_photos_new_form">
      Add photo
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.latest_photos.each do |photo| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to photo.caption, photo_path(photo) %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_latest_photos_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_latest_photos_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
